body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3d588f;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  div {
    /* width: 80%;
      margin: auto; */
    overflow: auto;
    background-color: #b3c4e6;
    padding: 1em;
  }
  
  h2,
  h3 {
    padding: 0.5em;
  }
  
  header {
    padding: 1em;
  }
  
  div > section,
  main,
  aside {
    padding: 0.5em;
  }
  
  div > section,
  aside,
  nav {
    background-color: #85a3e0;
  }
  
  article {
    border: 1px solid #3d588f;
    margin: 3%;
    padding: 0.5em;
  }
  
  main article {
    margin: 1%;
  }
  
  div > section footer a,
  aside footer a {
    display: block;
    width: 5em;
    padding: 0.2em;
    background-color: #3d588f;
    color: #dbe2f0;
    border-radius: 0.2em;
    margin: 0.2em;
  }
  
  main {
    background-color: #a8c0f0;
  }
  
  main article:nth-of-type(3),main article:nth-of-type(4) {
  }
  
  main footer p {
    padding: 0.2em;
    margin: 0.2em;
  }
  
  nav {
  }
  
  nav ul {
    list-style: none;
  }
  
  nav li {
    margin: 0.3em;
  }
  
  nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    background-color: #dbe2f0;
    color: #3d588f;
    border-radius: 0.5em;
  }
  
  footer {
    padding: 1em;
  }
  